// Kobster Elite Color variables
$kob-red: #ea6153;
$kob-black: #393939;
$kob-white: #ffffff;
$kob-dark-black: #000000;

$kob-gray: #666666;
$kob-gray-medium: #999999;
$kob-gray-light: #a4a5a7;
$kob-gray-eighty: #cccccc;
$kob-gray-hover: #e4e4e4;
$kob-gray-background: #ececec;

$kob-green: #77b43f;
$kob-blue: #0071bc;
$kob-orange: #f09300;
$kob-brown: #b67c5a;
$kob-violet: #673AB7;

$kob-success: #e7f4e4;
$kob-warning: #fff1d2;
$kob-error: #f9dede;
$kob-info: #e1f3f8;