.list-wrapper{
	background: $kob-white;
    padding: 8px;
    border-radius: 4px;
}

.padding-0404{
	padding: 0 4px;
}

.list-search{
		display: flex;
		flex-direction: row;
		padding: 0 8px 8px;
		text-align: center;
		@media (max-width: #{$tablet-large}){
			flex-basis: 100%;
			padding: 8px 0;
			input{
				width: calc(100%);
			}
		}
		.icon-search{
			position: relative;
			left: -40px;
			font-size: 24px;
			top: 4px;
		}
		input{
			width: calc(50%);
			height: 40px;
			border: none;
			border-radius: 4px;
			padding: 16px;	
		}
		.searchWrapper{
			flex-grow: 1;
		}
	}
.register-form{
    padding: 16px 0;
    @media (max-width: $tablet-small){
        padding: 36px 16px 36px 16px;
    }
    max-width: 480px;
    margin: 0 auto;
    position: relative;
    h1{
    	text-align: center;
    }
    .form-wrapper{
    	margin-bottom: 8px;
    	.step{
    		padding: 0;
    	}
    	.double-column{
    		@media(max-width: $mobile-large){
    			flex-direction: column;
    			.form-group{
    				width: 100%;
    				input{
    					min-height: 32px;
    				}
    			}
    		}
    	}
    }
    .form-group:first-child{
    	margin-right: 8px;
    }
    .form-group{
    	.error{
    		margin: 0px;
    		text-align: left;
    	}
        .form-control{
	        input[type=number]{
		        border: 1px solid #cccccc;
			    height: 28px;
			    border-radius: 2px;
			    padding: 0 8px;
		    }
		    select{
		    	width: 100%;
		    }
		    .css-2b097c-container{
		    	width: 100%;
		    }
	    }
    }
    button{
    	margin-left: auto;
    }
}


.react-select__value-container{
	min-width: 180px;
    max-height: 34px;
}

.info-msg{
    text-align: center;
    background: $kob-gray-background;
    padding: 16px;
    line-height: 24px;
    margin-bottom: 16px;
}