//Variables
$kob-white: #ffffff;
$kob-black: #393939;
$kob-blue: #0071bc;
$kob-red: #ea6153;

//CSS Resets
body{
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", Calibri, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: $kob-black;
}
*{
    box-sizing: border-box;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="button"]{
    border: 1px solid $kob-blue;
    height: 44px;
    border-radius: 2px;
    background: $kob-white;
    font-size: 16px;
    font-family: inherit;
    &:focus{
        outline: none;
        border-color: darken($kob-blue, 10%)
    }
}
button{
    height: 44px;
    background: $kob-white;
    border: 1px solid $kob-blue;
    border-radius: 2px;
    font-family: inherit;
    font-size: 16px;
    outline: none;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: $kob-blue;
    &:hover{
        color: darken($kob-blue, 10%)
    }
}

::-webkit-input-placeholder {
   color: $kob-blue;
}

:-moz-placeholder {
   color: $kob-blue;  
}

::-moz-placeholder {
   color: $kob-blue;  
}

:-ms-input-placeholder {  
   color: $kob-blue;  
}
// Welcome Style
.intro{
    width: 100%;
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    opacity: 1;
    transition: opacity 300ms ease-in-out;
    .logo{
        max-width: 240px;
        margin: 0 auto;
    }
}
.intro-active{
    width: 100%;
    overflow: hidden;
    position: fixed;
    &.disappearing{
        opacity: 0;
    }
    .intro{
        display: flex;
        display: -webkit-flex;
    }
}
#running-text{
  width: 848px;
  //background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ffffff),color-stop(1, #ffffff)); 
  overflow: hidden;
  margin: 0 auto;
  @media (max-width: 959px){
      width: 100%;
  }
}

h2 {
  //text-align: center;
  font-size: 56px;
  background: -webkit-gradient(linear,left top,right top,color-stop(0, #323232),color-stop(0.4, #dbc1c1),color-stop(0.5, #db3236),color-stop(0.6, #dbc1c1),color-stop(1, #323232)); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: slidetounlock 5s ease-in infinite;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  padding: 0;
  letter-spacing: 1px;
  word-spacing: 8px;
  //width: 200%;
  @media (max-width: 959px){
      font-size: 36px;
      //width: 100%;
  }
}

@-webkit-keyframes slidetounlock {
  0% {
    background-position: -820px 0;
  }
  100% {
    background-position: 820px 0;
  }
}

.cta{
  margin-top: 48px;
  background: #323232;
  border: none;
  height: 48px;
  width: 240px;
  color: #fff;
  border-radius: 4px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInUp;
  //animation-delay: 5s;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
// Page Style
header{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    padding: 32px 64px;
    @media (max-width: 768px){
        padding: 16px;
    }
    @media (max-width: 767px){
       flex-direction: column;
    }
}
.logo{
    display: block;
    img{
        width: 214px;
        height: 43px;
    }
    @media (max-width: 767px){
       max-width: 214px;
       margin: 0 auto;
    }
}
.conatct-info{
    font-size: 14px;
    color: $kob-blue;
    button{
        font-weight: bold;
        font-size: 16px;
    }
    .request-demo-button{
        font-size: 16px;
        background: $kob-blue;
        color: $kob-white;
        padding: 8px 24px;
        margin: 0 8px;
        border-radius: 2px;
        max-height: 36px;
        font-weight: bold;
        &:hover{
            background: darken($kob-blue, 10%);
            color: $kob-white;
        }
    }
    @media (max-width: 767px){
       text-align: center;
       .request-demo-button{
           display: block;
           margin: 16px auto;
           max-width: 240px;
       }
    }
}

.container{
    height: calc(100vh - 113px);
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    background: url("../img/corps-background.png") no-repeat bottom;
    background-size: contain;
    @media (min-width: 1365px){
        overflow: hidden;
    }
    .login-form{
        padding-top: 60px;
        max-width: 300px;
        margin: 0 auto;
    }
    #dash_register_form{
      display: noen;
    }
    @media (max-width: 1367px){
        .login-form{
            padding-top: 48px;
        }
    }
    @media (max-width: 767px){
       height: calc(100vh - 213px);
       padding: 16px;
    }
    @media (max-width: 767px){
        .login-form{
            padding-top: 16px;
        }
    }
}
.welcome{
    text-align: center;
    h1{
        font-size: 56px;
        line-height: 56px;
        letter-spacing: 16px;
	    word-spacing: 8px;
        font-weight: 200;
        margin: 0 0 16px 0;
        color: #000;
        @media (min-width: 1367px){
            margin-top: 120px;
        }
        @media (max-width: 768px){
            margin-top: 0px;
            font-size: 48px;
            line-height: 48px;
            letter-spacing: 6px;
        }
        @media (max-width: 480px){
            font-size: 26px;
            line-height: 26px;
            letter-spacing: 5px;
        }
    }
    p{
        font-size: 24px;
        margin: 0;
        color: #777777;
         @media (max-width: 768px){
            font-size: 18px;
            margin-bottom: 16px;
        }
        @media (max-width: 480px){
            font-size: 16px;
            margin-bottom: 16px;
        }
    }
    @media (max-width: 1367px){
	    margin-top: 36px;
    }
     @media (max-width: 767px){
       	margin: 0 0 32px 0;
    }
}
.errors{
    display: block;
	padding: 0;
	margin: 0 0 16px 0;
	background: #fff;
	color: #da8787;
	border-radius: 3px;
	font-size: 14px;
}
.validation-errors{
    margin-bottom: 8px;
    color: #da8787;
    font-size: 14px;
    display: block;
}
.form-control{
    margin-bottom: 16px;
    width: 300px;
    padding: 8px 8px 8px 36px;
    @media (max-width: 480px){
       width: 100%;
    }
}
.form-group{
    position: relative;
}
.icon{
    background-image: url("../img/login-icons.png");
    background-repeat: no-repeat;
    height: 36px;
    width: 36px;
    margin: 4px 0;
    position: absolute;
    display: inline-block;
    &.email{
        background-position: 0 -36px;
    }
    &.lock{
        background-position: 0 0;
    }
}
.login-button{
    display: block;
    width: 100%;
    background: $kob-blue;
    color: $kob-white;
    padding: 8px 24px;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 8px;
    font-weight: 600;
    cursor: pointer;
}
.forget-password{
    font-size: 14px;
    float: right;
}

//Animation
.form-group-wrapper{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    -webkit-animation-delay: 300ms;
    animation-delay: 300ms;
    overflow: hidden;
}
@-webkit-keyframes slideInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.errors + .form-group-wrapper{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: shake;
    animation-name: shake;
}
@-webkit-keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}
// Modal 
.modal{
    /*display: flex;
    display: -webkit-flex;*/
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-justify-content: center;
}
.modal-dialog{
    margin: 32px;
}
.modal-content{
    padding: 16px;
    max-width: 480px;
    background: $kob-white;
    border-radius: 2px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}
.modal-header{
    display: flex;
    display: -webkit-flex;
    margin-bottom: 16px;
    .close-button{
        margin-left: auto;
        font-size: 24px;
        line-height: 22px;
        height: 24px;
        width: 24px;
        padding: 0;
        border-radius: 50%;
        border-color: transparent;
        text-align: center;
        outline: none;
        &:hover{
            color: $kob-red;
            border-color: $kob-red;
        }
    }
    .modal-title{
        font-size: 16px;
        line-height: 28px;
        margin: 0;
    }
}
.modal-body{
    margin-bottom: 8px;
    input{
        width: 100%;
        border-color: #ccc;
        height: 36px;
        &:focus{
            border-color: $kob-blue;
        }
    }
    .form-group{
        .icon{
            margin: 0;
        }
    }
}
.modal-footer{
    text-align: right;
    .button-success,
    .button-cancel{
        height: 28px;
        margin-left: 8px;
        width: 96px;
        color: $kob-blue;
        text-transform: uppercase;
    }
    .button-success{
        background: $kob-blue;
        color: $kob-white;
    }
}