header{
    padding: 32px 0;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}
.branding{
    img{
        max-width: 188px;
        display: block;
    }
    &:hover{
        img{
            opacity: 0.75;
        }
    }
}
.menu{
    a{
        padding: 8px 32px;
        margin: 0 4px;
        display: inline-block;
        text-decoration: none;
        color: #666;
        border-radius: 4px;
        transition: all 300 ease-in;
        &.button-link{
            border-radius: 24px;
            background: #db3235;
            color: #fff;
            transition: box-shadow 0.5s ease;
            &:hover{
                opacity: 0.95;
                box-shadow:12px 12px 26px 0 #f0f0f0;
            }
        }
        
    }
}

.fade-in{
    opacity: 1;
    transform: scale(1); 
}

.fade-out{
    animation: fadeIn 600ms ease-in-out;
    transition-delay: 300ms;
}
@keyframes fadeIn{
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fadeOut{
    0% {
        opacity: 100;
    }
    100%{
        opacity: 0;
    }
}