.modal {
    display: none;
    position: fixed;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    // IE 10 Modal Center Fix
    -ms-flex-pack: justify;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
    opacity: 1;
    height: 100vh;
    transition: opacity 300ms ease; 
    overflow: hidden;
    background-color: rgba(0,0,0,0.66);
}

#confirmRegionChange.modal{
    z-index: 601;
}

// This class gets added to the body to prevent scroll event
.modal-open{
    position: fixed;
	width: 100%;
	overflow-y: scroll;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 100%;
    border-radius: 2px;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-header {
    padding: 16px;
    display: flex;
    display: -webkit-flex;
}

.modal-title{
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    color: $kob-black;
}
.modal-description{
    padding: 0 16px;
    color: #777777;
}
.modal-info
{
    color: $kob-gray-light;
    padding:4px 0px;
    i{
        margin-right: 4px;
        vertical-align: top
    }
}
.close{
    margin-left: auto;
    color: $kob-gray-light;
    height: 24px;
    width: 24px;
    font-size: 18px;
    line-height: 24px;
    border: 1px solid transparent;
    border-radius: 50%;
    padding: 0;
    text-align: center;
    .icon-close{
        line-height: 22px;
    }
    &:hover{
        color: $kob-red;
        border-color: $kob-red;
        background: $kob-white;
    }
}

.modal-message {
    padding: 0 16px 16px 16px;
    p{
        color: $kob-gray-medium;
        line-height: 22px;
    }
    textarea{
        margin-top: 16px;
        height: 64px;
        padding: 8px;
    }
}

.modal-footer {
    padding: 16px;
    text-align: right;
    background: $kob-gray-background;
    border-radius: 0 0 2px 2px;
    button{
        margin-left: 16px;
        min-width: 96px;
        @media (max-width:480px){
            display: block;
            margin: 8px 0;
            width: 100%;
        }
    }
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}

@media (min-width:769px){
    .modal-dialog{
        max-width:600px;
        width: 100%;
        margin: 0 auto;
        max-height: calc(100vh - 32px);
        overflow-y: auto;
        &.modal-small{
            max-width: 480px;
        }
    }
    .modal-content{
        -webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);
        box-shadow:0 5px 15px rgba(0,0,0,.5)
    }
    .modal-sm{
        max-width:300px;
    }
}

@media (max-width:768px){
    .modal-dialog{
        width: 100%;
        margin: 84px 32px 32px 32px;
        max-height: calc(100vh - 116px);
        overflow-y: auto;
    }
}
@media (max-width:480px){
    .modal-dialog{
        margin: 84px 16px 16px 16px;
        max-height: calc(100vh - 74px);
        overflow-y: auto;
    }
}
@media (max-width:320px){
    .modal-dialog{
        margin-top: 60px;
    }
}
//Animation Styles Start
.modal-active{
  display: flex;
  display: -webkit-flex;
  .modal{
    animation: modal-open 750ms ease-in;
  }
}
.modal-inactive{
  .modal{
    animation: modal-close 300ms ease-in-out;
  }
}
@keyframes modal-open {
  	0%,100%,20%,40%,60%,80% {
		-webkit-animation-timing-function: cubic-bezier(0.215,.61,.355,1);
		animation-timing-function: cubic-bezier(0.215,.61,.355,1)
	}

	0% {
		opacity: 0;
		-webkit-transform: scale3d(.3,.3,.3);
		transform: scale3d(.3,.3,.3)
	}

	20% {
		-webkit-transform: scale3d(1.1,1.1,1.1);
		transform: scale3d(1.1,1.1,1.1)
	}

	40% {
		-webkit-transform: scale3d(.9,.9,.9);
		transform: scale3d(.9,.9,.9)
	}

	60% {
		opacity: 1;
		-webkit-transform: scale3d(1.03,1.03,1.03);
		transform: scale3d(1.03,1.03,1.03)
	}

	80% {
		-webkit-transform: scale3d(.97,.97,.97);
		transform: scale3d(.97,.97,.97)
	}

	100% {
		opacity: 1;
		-webkit-transform: scale3d(1,1,1);
		transform: scale3d(1,1,1)
	}
}

@keyframes modal-close {
  0% {
		opacity: 1
	}

	50% {
		opacity: 0;
		-webkit-transform: scale3d(.3,.3,.3);
		transform: scale3d(.3,.3,.3)
	}

	100% {
		opacity: 0
	}
}
//Animation Styles End




.drawLine {
    width: 67px;
}

.animate-span {
    width: 24px;
    height: 2px;
    background: $kob-blue;
    -webkit-transition: width 2s;
    -moz-transition: width 2s;
    transition: width 2s;
}

// View Order

.address-section{
    display: flex; 
    display: -webkit-flex;
    padding: 0 16px 16px 16px;
    & > div{
        margin-right: 32px;
    }
}
.order-flow{
    display: flex; 
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}
.status-info {
	width: 84px;
	background: #f5f5f5;
	margin-bottom: 8px;
	text-align: center;
	padding: 8px;
    border-radius: 4px;
}
.status{
    //display: none;
    display: flex;
    display: -webkit-flex;
    .status-name{
        font-size: 12px;
        line-height: 15px;
        color: $kob-gray;
    }
    /*&:nth-last-child(1),
    &:nth-last-child(2),
    &:nth-last-child(3),
    &:nth-last-child(4),
    &:nth-last-child(5){
        display: flex;
        display: -webkit-flex;
    }*/
}
.connector{
    display: flex;
    display: -webkit-flex;
	align-items: center;
}
.section-title{
    margin-bottom: 8px;
    font-size: 14px;
    color: $kob-blue;
}
.order-total{
    border-top: 1px solid $kob-gray-eighty;
    margin-top: 4px;
    padding-top: 4px;
    p{
        line-height: 20px;
        text-align: right;
        color: $kob-gray-eighty;
        span{
            font-weight: bold;
            color: $kob-black;
            padding: 0 16px 0 24px;
        }
    }
}
.order-flow-container,
.product-details-container,
.order-supplier-container{
    padding: 0 16px;
    .table-wrapper{
        max-height: 120px;
        overflow: auto;
    }
    margin-bottom: 16px;
    .widget-compressed-table{
        tr td{
            //max-width: 0;
            &:first-child{
                padding: 5px 4px 0 4px;
            }
        }
    }
}

#otpPop .modal-dialog{
    max-width: 300px;
    p{
        text-align: center;
    }
    #otp{
        text-align: center;
        margin: 0 auto;
        max-width: 140px;
        display: block;
        font-family: monospace;
        height: 36px;
        line-height: 36px;
        font-size: 24px;
    }
    .form-group + p{
        margin: 0 0 16px 0;
    }
    .button-red.disabled{
        color: #fff;
    }
}

// Approve Modal
#approvalPaymentOptions .modal-dialog{
    max-width: 704px;
}