.pagination-container{
    display: flex;
    display: -webkit-flex;
}	

.pagination {
    height: 28px;
    li.break-me{
        display: none;
    }
}
/*
.previous,
.next{
    a{
        height: 28px;
        i{
            &:before{
                line-height: 26px;
                font-size: 24px;
            }
        }
    }
    &.disabled{
        pointer-events: none;
        opacity: 0.3;
    }
}
*/


.pagination ul {
    display: inline-block;
    *display: inline;
    //IE7 inline-block hack
    *zoom: 1;
    margin-left: 0;
    color: $kob-white;
    margin-bottom: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.pagination li {
    display: inline;
}

.pagination a {
    float: left;
    padding: 0 14px;
    line-height: 26px;
    height: 28px;
    color: $kob-gray;
    text-decoration: none;
    border: 1px solid $kob-gray-eighty;
    border-left-width: 0;
    //background-color: $kob-white;
    text-transform: capitalize;
    //margin: 0;
    i{
        font-size: 22px;
        line-height: 24px;
        height: 26px;
        display: inline-block;
    }
    @media (min-width: #{$tablet-small + 1px}) and (max-width: #{$tablet-large - 32px}){
		padding: 0 8px;
	}
}

.pagination a:hover,
.pagination .active a {
    color: $kob-black;
    cursor: pointer;
}
.pagination a:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.pagination .active a{
    background-color: rgba(0, 0, 0, 0.2);
}


.pagination .active a {
    color: $kob-black;
    cursor: default;
}
.pagination .disabled{
    opacity: 1;
}
.pagination .disabled span,
.pagination .disabled a,
.pagination .disabled a:hover {
    color: #999999;
    cursor: default;
    opacity: 0.5 !important;
}

.pagination li:first-child a {
    border-left-width: 1px;
    -webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px;
}

.pagination li:last-child a {
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
}

.pagination-centered {
    text-align: center;
}

.pagination-right {
    text-align: right;
}

.pager {
    margin-left: 0;
    margin-bottom: 18px;
    list-style: none;
    text-align: center;
    color: #6c58bF;
    *zoom: 1;
}

.pager:before,
.pager:after {
    display: table;
    content: "";
}

.pager:after {
    clear: both;
}

.pager li {
    display: inline;
    color: #6c58bF;
}

.pager a {
    display: inline-block;
    padding: 5px 14px;
    color: #6c58bF;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.pager a:hover {
    text-decoration: none;
    background-color: #f5f5f5;
}

.pager .next a {
    float: right;
}

.pager .previous a {
    float: left;
}

.pager .disabled a,
.pager .disabled a:hover {
    color: #999999;
}

.pagination{
    margin-left: auto;
}

// Pagination for Widgets
.pagination-small{
     text-align: center;
     margin-top: 10px;
     a{
         color: $kob-black;
         font-weight: bold;
         height: 24px;
         line-height: 24px;
         display: inline-block;
         padding: 0 8px;
         border-radius: 2px;
         margin: 0 4px;
         &:hover{
             background: $kob-gray-hover;
         }
         i{
            vertical-align: middle;
            &:before{
                line-height: 24px;
                font-size: 20px;
                height: 24px;
            }
        }
        &.previous{
            padding-left: 2px;
        }
        &.next{
            padding-right: 2px;
        }
     }
}
.widget.approvals,
.widget.order-status {
    position: relative;
    .pagination-small{
        position: absolute;
        bottom: 8px;
        width: 100%;
        left: 0;
    }
    @media (max-width: $tablet-large){
        .widget-compressed-table{
            margin-bottom: 12px;
        }
    }
}

.page-header .pagination-container{
    margin-left: auto;
    @media(max-width: $tablet-small){
        margin: 0;
    }
    .pagination{
        margin: 0;
    }
}