@charset "UTF-8";
@import 'react-redux-toastr/src/styles/index';
.animated {
    animation-duration: 1s;
    animation-fill-mode: both
}

.animated.bounceIn {
    animation-duration: 400ms;
    -webkit-animation-duration: 400ms;
    animation-name: bounceIn;
    -webkit-animation-name: bounceIn;
}

.animated.bounceOut {
    animation-duration: 200ms;
    -webkit-animation-duration: 200ms;
    animation-name: bounceOut;
    -webkit-animation-name: bounceOut;
}

// Toaster Entering Animation
@keyframes bounceIn {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@-webkit-keyframes bounceIn {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

// Toaster Leaving Animation
@keyframes bounceOut {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}
@-webkit-keyframes bounceOut {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeOut {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

.confirm-holder {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: none
}

.confirm-holder.active {
    display: block
}

.confirm-holder .shadow {
    width: 100%;
    height: 100%;
    background-color: rgba(50, 58, 68, .8)
}

.confirm-holder .confirm {
    width: 320px;
    background-color: #fff;
    position: absolute;
    z-index: 9;
    top: 20%;
    left: 50%;
    margin-left: -160px;
    box-shadow: 3px 3px 20px #333;
    border-radius: 4px;
    overflow: hidden
}

.confirm-holder .confirm .message {
    width: 90%;
    padding: 5%;
    min-height: 50px;
    font-size: 1em;
    background-color: #fff;
    text-align: center;
    font-family: inherit;
    clear: both
}

.confirm-holder .confirm button {
    width: 50%;
    height: 50px;
    text-transform: capitalize;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 1;
    float: left;
    border-top: 1px solid #f0f0f0;
    font-size: 14px;
    overflow: hidden
}

.confirm-holder .confirm button p {
    position: relative;
    z-index: 1;
    line-height: 100%;
    padding: 0;
    margin: 0;
    color: #555
}

.confirm-holder .confirm button:before {
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -20px;
    background-color: #999;
    border-radius: 50%;
    z-index: 0;
    opacity: .2;
    transform: scale(0)
}

.confirm-holder .confirm button.active:before {
    transition: transform .25s ease-in-out;
    transform: scale(2)
}

.confirm-holder .confirm button:focus {
    outline: 0
}

.confirm-holder .confirm button:hover {
    cursor: pointer;
    background-color: #f5f5f5
}

body.toastr-confirm-active {
    overflow: hidden
}

.redux-toastr {
    width: 310px;
    position: fixed;
    z-index: 99999999
}

.redux-toastr *,
.redux-toastr:after,
.redux-toastr:before {
    box-sizing: border-box
}

.redux-toastr.top-center,
.redux-toastr.top-left,
.redux-toastr.top-right {
    top: 15px
}

.redux-toastr.bottom-center,
.redux-toastr.bottom-left,
.redux-toastr.bottom-right {
    bottom: 15px
}

.redux-toastr.top-left {
    left: 15px
}

.redux-toastr.bottom-center,
.redux-toastr.top-center {
    left: 50%;
    margin-left: -155px
}

.redux-toastr.top-right {
    right: 15px
}

.redux-toastr.bottom-left {
    left: 15px
}

.redux-toastr.bottom-right {
    right: 15px
}

.redux-toastr .toastr {
    background-color: #fcfcfc;
    width: 100%;
    min-height: 40px;
    border-radius: 2px;
    position: relative;
    color: #333;
    opacity: 1;
    margin-top: 8px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.2);
}

.redux-toastr .toastr:before {
    position: absolute;
    top: 50%;
	left: 16px;
	margin-top: -16px;
	font-size: 32px;
    font-family: "kobicon" !important;
}

.redux-toastr .toastr:hover {
    cursor: pointer;
    box-shadow: 0 0 10px #777;
    opacity: 1
}

.redux-toastr .toastr .message-holder {
    width: 100%;
    position: relative;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    font-size: 1em;
    text-align: left
}

.redux-toastr .toastr .message-holder .title {
    font-size: 1.1em;
    font-weight: 700;
    margin-bottom: 5px
}

.redux-toastr .toastr.error,
.redux-toastr .toastr.info,
.redux-toastr .toastr.success,
.redux-toastr .toastr.warning {
    color: $kob-white;
    padding: 20px 20px 20px 60px
}

.redux-toastr .toastr.info {
    background-color: #58abc3
}

.redux-toastr .toastr.success {
    background-color: #60bb71
}

.redux-toastr .toastr.warning {
    background-color: #f7a336
}

.redux-toastr .toastr.error {
    background-color: #d63f40;

}

.redux-toastr .toastr.message {
    opacity: 1;
    border: 1px solid #dbdbdb
}

.redux-toastr .toastr.message .message-holder {
    width: 100%;
    margin-left: 0
}

.redux-toastr .toastr.message .message-holder .title {
    width: 90%;
    height: 50px;
    text-align: center;
    font-size: 1.2em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 50px;
    padding: 0 20px
}

.redux-toastr .toastr.message .message-holder .message {
    width: 100%;
    max-height: 400px;
    overflow: hidden;
    overflow-y: auto;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    background-color: #fff;
    padding: 15px;
    font-size: 1.1em;
    margin-bottom: 20px
}

.redux-toastr .toastr.message .message-holder .message img {
    display: block;
    margin: 10px auto;
    max-width: 100%
}

.close-toastr{
    display: none;
}