.rwt__tabs[data-rwt-vertical="true"]{
  .rwt__tablist[aria-orientation="vertical"]{
    .rwt__tab{
      min-height: 48px;
      margin:0;
      color: $kob-black;
    }
    .rwt__tab[aria-selected="true"]{
        background-color: $kob-gray-background;
        font-weight: bold;
        &:after{
          border-right-color: $kob-blue !important;
        }
    }
  }
}