/* Kobster Theme Variables */
$kob-font: 'Source Sans Pro', Segoe UI, sans-serif;
$kob-red: #d54d4d;
$kob-black: #393939;
$kob-gray: #a4a5a7;
$kob-white: #ffffff;
$kob-green: #7ed358;
$kob-brown: #b67c5a;
$kob-success: #e7f4e4;
$kob-warning: #fff1d2;
$kob-error: #f9dede;
$kob-info: #e1f3f8;
$kob-blue: #0071bc;
$kob-light-border: #f7f7f7;
$kob-medium-dark-border: #dddddd;
$kob-dark-border: #999999;
$default-border-radius: 2px;
$kob-product-info: #f6f8f9;