@import "bootstrap";
body{
	padding: 0;
	margin: 0;
	font-family: 'Source Sans Pro', Arial, sans-serif;
	@media (max-width: 480px){
		padding-top: 57px;
	}
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
	padding: 0;
}
.container{
	//width: 100%;
	//padding: 0;
	@media (min-width: 1367px){
		width: 1400px;
		margin: 0 auto;
	}
	&.main{
		padding-top: 90px;
		@media (max-width: 768px){
			padding-top: 24px;
		}
	}
}
.navbar-default {
    //background-color: rgba(255,255,255,0.2);
    background: #f7f7f7;
    border-color: transparent;
    transition: background .8s;
    height: 57px;
}
.nav-fixed{
	//background-color: rgba(255,255,255,1);
	background: #f7f7f7;
    border-color: #dddddd;
    transition: background .8s;
}
.logo{
	margin: 15px 0;
	overflow: hidden;
	//background: url("../img/kob-logo.png");
	height: 27px;
	width: 180px;
	display: inline-block;
	@media (max-width: 768px){
		float: left;
		margin: 15px 0;
	}
}
h3{
	color: #BF0000;
	//text-decoration: underline;
	text-align: center;
	font-size: 18px;
	margin: 0 auto 20px auto;
	padding-bottom: 4px;
	border-bottom: 1px solid;
	max-width: 240px;
}
h3 + p{
	margin: 0 auto 45px auto;
	max-width: 240px;
	text-align: center;
}
//New Card list-style
.card-wrapper{
	@include make-xs-column(12);
	@include make-sm-column(6);
	@include make-md-column(4);
}
.card{
	text-align: center;
	border: 3px solid #BF0000;
	border-radius: 12px;
	position:relative;
    -webkit-perspective:1000;
    perspective:1000;
	div{
		position:absolute;
		backface-visibility: hidden;
    	-webkit-backface-visibility: hidden;
	}
}
.card:hover{
    transform: rotateY( 180deg );
    -webkit-transform: rotateY(180deg);
}
.front{
	z-index: 2;
	img{
		width: 200px;
		height: 200px;
		margin: 0 auto;
	}
}
.back{
	background: #BF0000;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-transform: rotateY(180deg);
    transform: rotateY( 180deg );
	p{
		width: 200px;
		height: 200px;
		color: #fff;
	}
}
.flip-container
{
    width:810px;
    margin:auto;
    position:relative;
    -webkit-perspective:1000;
    perspective:1000;
	transform-style: preserve-3d;
    &.small{
    	width: 540px;
    }
    @media(max-width: 480px){
    	width: 240px;
    	&.small{
    		width: 270px;
    	}
    }
}
.flip-cards div
{
    width:240px;
    height:240px;
    position:absolute;
    border-radius:14px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
	@media (min-width: 481px) and (max-width: 768px){
		width: 210px;
	}
}
.flip-cards
{
    width:240px;
    height:240px;
    position:relative;
    float:left;
    margin-left:30px;
    margin-bottom:30px;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    border: 2px solid #dd1111;
    border-radius:15px;
	@media (min-width: 481px) and (max-width: 768px){
		width: 210px;
	}
	@media (max-width: 480px){
		margin-left: 0;
	}
}
.flip-cards:hover
{
    transform: rotateY( 180deg );
	transform-style: preserve-3d;
    -webkit-transform: rotateY(180deg);
}
.front-card
{
    z-index: 2;
    img{
    	object-fit: cover;
    	display: block;
    	width: 100%;
    }
}
.reverse-card
{	
	color: #fff;
    -webkit-transform: rotateY(180deg);
    transform: rotateY( 180deg );
    background-color:#dd1111;
    text-align:center;
    display: flex;
	align-items: center;
	justify-content: center;
	z-index: 4;
    p{
    	margin-top: 0;
    	padding: 0 10px;
    	font-size: 14px;
    	line-height: 21px;
    	span{
    		font-size: 12px;
    		color: rgba(255,255,255,0.7);
    		&::selection {
		    	color: #ffffff;
				background: yellow;
			}
			&::-moz-selection {
		    	color: #ffffff;
				background: yellow;
			}
    	}
    	&::selection {
	    	color: #ffffff;
			background: yellow;
		}
		&::-moz-selection {
	    	color: #ffffff;
			background: yellow;
		}
    }
}