.empty-state-container{
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    text-align: center;
    height: calc(100vh - 128px);
    @media (max-width: #{$tablet-large - 32px}){
        height: calc(100vh - 68px);
    }
}

.empty-state{
    .empty-state-thumb{
        width: 100%;
        height: 200px;
        display: block;
        margin: 0 auto;
        object-fit: cover;
        -webkit-animation-duration: 900ms;
        animation-duration: 900ms;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-transform-origin: top center;
        transform-origin: top center;
        -webkit-animation-name: swing;
        animation-name: swing;
    }
    h1{
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        margin-bottom: 8px;
    }
    p{
        font-size: 14px;
        line-height: 16px;
        color: $kob-gray-light;
    }
    a{
        height: 36px;
        font-size: 14px;
        line-height: 34px;
        width: 140px;
        margin-top: 32px;
        display: inline-block;
        color: $kob-blue;
        border: 1px solid $kob-blue;
        border-radius: 2px;
        &:hover{
            border-color: $kob-gray;
            color: $kob-gray;
        }
    }
}

.empty-state-thumb.not-installed{
    background: url("../src/assets/img/widgets-not-installed.png") center no-repeat;
}

.empty-state-thumb.no-access{
    background: url("../src/assets/img/widgets-no-access.png") center no-repeat;
}