<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>pm_advancedsearch4</name>
	<displayName><![CDATA[Advanced Search 4]]></displayName>
	<version><![CDATA[4.10.12]]></version>
	<description><![CDATA[Multi-layered search engine and search by steps]]></description>
	<author><![CDATA[Presta-Module]]></author>
	<tab><![CDATA[search_filter]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>