.container{
        transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
        opacity: 0;
        transform-origin: 50% 50%;
        .section-title{
            span{
                background-color: #4fbd96;
                color: #fff;
            }
        }
        p{
            width: 80%;
            margin: 0 auto;
        }

}