.title-section{
	.container{
		opacity: 1 !important;
		justify-content: flex-start;
		.row{
			height: -webkit-fill-available;
			.col-5{
				justify-content: center;
				svg{
					@media(min-width: 1440px){
						transform: scale(1.4);
					}
				}
			}
		}
		.section-title{
			color: #5d5d5d;
			letter-spacing: 2px;
			font-size: 2.4em;
			font-weight: bold;
			@media (min-width: 481px) and (max-width: 768px) {
				font-size: 1.6em;
			}
            @media (max-width: 481px) {
    			font-size: 1.4em;
              	line-height: 44px;
            }	
		}
		.section-lead{
			@media (min-width: 481px) and (max-width: 768px) {
				font-size: 1.2em;
			}
			@media (max-width: 481px) {
    			font-size: 1em;
            }
		}
		p{
			font-size: 18px;
		    margin: 16px auto;
			color: #919191;
		}
		.btn-container{
			line-height: 48px;
		    text-align: center;
		}
		.btn{
			cursor: pointer;
		    background: #db3235;
		    color: #fff;
		    border-radius: 20px;
		    width: 240px;
		    padding: 8px 40px;
		    margin: 0 auto;
		    text-align: center;
		    margin-top: 48px;
		    font-size: 18px;
		    letter-spacing: 1px;
		}
	}
	.form-container{
		position: absolute;
	    background: hsla(0, 0%, 100%, 0.8);
	    left: 0;
	    right: 0;
	    top: 0;
	    bottom: 0;
	    z-index: 1000;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	    height: auto;
	    .form-wrapper{
		    padding: 16px;
		    width: 100%;
		    form{
		    	display: flex;
			    flex-direction: column;
			    justify-content: center;
			    align-items: center;
			    position: relative;
		    }
		    .form-cover{
				backface-visibility: visible !important;
				animation-name: flipInY;
				animation-duration: 1s;
				animation-fill-mode: both;
			    background: #fff;
			    padding: 48px;
			    box-shadow:2px 2px 2px #777;
			    max-width: 340px;
			    overflow: hidden;
			    border: 1px solid #e9e9e9;
			    @media(max-width: 425px){
			    	max-width: 280px;
			    	padding: 24px;
			    }
			    .card{
			    	display: flex;
			    	transition: 1s ease;
			    	transform: translateX(0px);
			    	&.loading{
			    		.loading-card{
			    			transform: translateX(-436px);
			    			@media(max-width: 425px){
			    				transform: translateX(-376px);
			    			}
			    		}
			    	}
			    	&.final{
		    		    transform: translateX(-872px) !important;
		    		    @media(max-width: 425px){
			    				transform: translateX(-752px) !important;
			    			}
			    	}
			    }
			    .main-card,.loading-card,.final-card{
			    	min-width: 340px;
			    	margin-right: 96px;
			    	@media(max-width: 425px){
				    	min-width: 280px !important;
				    }
			    }
			    .loading-card{
			    	display:flex;
			    	flex-direction:column;
		    	    justify-content: center;
			    	align-items: center;
			    	.loading{
			    		border: 4px solid transparent;
					    border-top: 4px solid #ea6153;
					    border-radius: 50%;
					    width: 48px;
					    height: 48px;
					    animation: spin .5s linear infinite;
					    background: #fff;
					    box-shadow: 0 0 54px rgba(0,0,0,.4);
			    	}
			    }
			    .final-card{
		    	    display: flex;
				    flex-direction: column;
				    justify-content: center;
				    align-items: center;
			        text-align: center;
				    svg{
				    	max-width: 60%;
				    }
			    }
			    h1{
			    	font-size: 2em;
			    	text-align: left;
			    	margin-bottom: 40px;
			    	@media(max-width: 425px){
			    		font-size: 1.4em;
			    		margin-bottom: 20px;
			    	}
			    }
			    .button-wrapper{
		    	    text-align: center;
				    margin-top: 40px;
				    display: flex;
				    flex-direction: column;
				    .submitBtn{
				        background: #3D3D3D;
					    border: none;
					    border-radius: 6px;
					    min-width: 68%;
					    height: 42px;
					    color: #fff;
					    font-size: 16px;
					    transition: 1s ease;
					    letter-spacing: 2px;
				    }
				    .cancelBtn{
				    	@extend .submitBtn;
				    	margin-top: 16px;
				    	filter: invert(1);
				    }
				    @media(max-width: 425px){
				    	margin-top: 18px;
				    }
			    }
		    	.inp-wrapper{
			        display: flex;
				    flex-direction: column;
				    margin-bottom: 24px;
				    .error{
				    	color: #db3235;
				    }
				    input{
					    min-height: 32px;
					    border: none;
					    border-bottom: 1px solid #969696;
					    outline: none;
					    background: transparent;
					    font-size: 16px;
				    }
				    @media(max-width: 425px){
				    	margin-bottom: 20px;
				    	label,input{
				    		font-size: 0.8em;
				    	}
				    	input{
			    		    min-height: 24px;
				    	}
				    }
			    }
		    }
		    
	    }
	}
}

.hero-image{
    margin: 0 auto;
    max-width: 90%;
    display: block;
}

@keyframes slide{
	0%{
    	transform: rotateY(180deg) skew(10deg) scale(0.89);
    	opacity:0;
    	background: #000;
	}
	40%{
		opacity: 1; 
		transform:scale(1);
	}
	100%{
		background: #fff;
		transform: rotateY(0deg) skew(0deg) scale(1);
	}
}

@keyframes flipInY {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }
}

@keyframes spin{
	0% {
	    transform: rotate(0deg);
	}

	100% {
	    transform: rotate(1turn);
	}
}